fluxos.json
[
    {
        "id": "d1963266c9e8072a",
        "type": "tab",
        "label": "CPU Status",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "af7784bb8c92d5f7",
        "type": "tab",
        "label": "ESP32 TCC Edu",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "81c6b1d44b3edaaa",
        "type": "tab",
        "label": "ESP8266",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1f38c01d3d079414",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "Arial,Arial,Helvetica,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "Arial,Arial,Helvetica,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#000000",
                "baseFont": "Arial,Arial,Helvetica,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": true
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": true
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": true
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": true
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": true
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "Arial,Arial,Helvetica,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 0,
                "gy": 0,
                "cx": 0,
                "cy": 0,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "02838aa4425d83f2",
        "type": "ui_tab",
        "name": "Monitor de CPU",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "0555a77d9476f586",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.app.wnology.io",
        "port": "1883",
        "clientid": "63e920ad51b8b5868e488bc5",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "2",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "33d9f14f44e91edc",
        "type": "mqtt-broker",
        "name": "Rebecca",
        "broker": "broker.app.wnology.io",
        "port": "1883",
        "clientid": "633c74cec06f697cdfb3fa62",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "187fb2fb6f1c6563",
        "type": "mqtt-broker",
        "name": "Elias",
        "broker": "broker.app.wnology.io",
        "port": "1883",
        "clientid": "633c74ca91b540d75a63c535",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "e0494bc323355286",
        "type": "mqtt-broker",
        "name": "Alexandre",
        "broker": "broker.app.wnology.io",
        "port": "1883",
        "clientid": "633c91ac1371e774d91f5d8e",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "488530d1409211bf",
        "type": "mqtt-broker",
        "name": "Cesar",
        "broker": "broker.app.wnology.io",
        "port": "1883",
        "clientid": "633b21e4e136b6f0ce6bdd56",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "e827f95de7ef5b16",
        "type": "mqtt-broker",
        "name": "Caio",
        "broker": "broker.app.wnology.io",
        "port": "1883",
        "clientid": "633c74b7c06f697cdfb3fa56",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "ecc3382c0da13c5d",
        "type": "mqtt-broker",
        "name": "Wenisson",
        "broker": "broker.app.wnology.io",
        "port": "1883",
        "clientid": "633c74c291b540d75a63c534",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "b16b2379814481c0",
        "type": "mqtt-broker",
        "name": "JoseSergio",
        "broker": "broker.app.wnology.io",
        "port": "1883",
        "clientid": "633c74b691b540d75a63c530",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "c17827afa30bdc5d",
        "type": "mqtt-broker",
        "name": "Gabriel",
        "broker": "broker.app.wnology.io",
        "port": "1883",
        "clientid": "633c74c3c06f697cdfb3fa5d",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "a7cfcc45c7c26fc3",
        "type": "mqtt-broker",
        "name": "Ismael",
        "broker": "broker.app.wnology.io",
        "port": "1883",
        "clientid": "633c74b1653829a9fe6f2355",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "649e2b8d156025cc",
        "type": "mqtt-broker",
        "name": "Otaviano",
        "broker": "broker.app.wnology.io",
        "port": "1883",
        "clientid": "633c752a653829a9fe6f2376",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "4e6ac2c20a34e11a",
        "type": "mqtt-broker",
        "name": "EduardoMHS",
        "broker": "broker.app.wnology.io",
        "port": "1883",
        "clientid": "633c74ba629967fad5bf889e",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "08ce5bf02ce4cbf3",
        "type": "mqtt-broker",
        "name": "Thiago",
        "broker": "broker.app.wnology.io",
        "port": "1883",
        "clientid": "633c74e591b540d75a63c53d",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "0a1060a6b874df27",
        "type": "mqtt-broker",
        "name": "Guilherme",
        "broker": "broker.app.wnology.io",
        "port": "1883",
        "clientid": "633c74d991b540d75a63c53a",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "e652dcc7a113af68",
        "type": "mqtt-broker",
        "name": "Renan",
        "broker": "broker.app.wnology.io",
        "port": "1883",
        "clientid": "633c7608629967fad5bf88d6",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "a33dd8726c0a6884",
        "type": "mqtt-broker",
        "name": "Vinicius",
        "broker": "broker.app.wnology.io",
        "port": "1883",
        "clientid": "633c74c8653829a9fe6f2362",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "7d26734e8208a2c4",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.app.wnology.io",
        "port": "1883",
        "clientid": "633c74c0629967fad5bf889f",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "6472dac68c4d9357",
        "type": "mqtt-broker",
        "name": "Marcio",
        "broker": "broker.app.wnology.io",
        "port": "1883",
        "clientid": "633c74cac06f697cdfb3fa5f",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "7c26e3e0a60e047f",
        "type": "mqtt-broker",
        "name": "Edivaldo",
        "broker": "broker.app.wnology.io",
        "port": "1883",
        "clientid": "633b21b4e136b6f0ce6bdd43",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "cbcca7b9bd25ea04",
        "type": "mqtt-broker",
        "name": "Joao",
        "broker": "broker.app.wnology.io",
        "port": "1883",
        "clientid": "633c74bfc06f697cdfb3fa5a",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "ece42a030c13f38b",
        "type": "mqtt-broker",
        "name": "Anderson",
        "broker": "broker.app.wnology.io",
        "port": "1883",
        "clientid": "633c74b4653829a9fe6f2359",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "4e14dc9e727439bd",
        "type": "mqtt-broker",
        "name": "Pedro",
        "broker": "broker.app.wnology.io",
        "port": "1883",
        "clientid": "633c74cec06f697cdfb3fa61",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "9f3803fe8bdef543",
        "type": "mqtt-broker",
        "name": "ISMAEL2",
        "broker": "broker.app.wnology.io",
        "port": "1883",
        "clientid": "633c74dac06f697cdfb3fa63",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "f4fedf573f3f36c8",
        "type": "mqtt-broker",
        "name": "Arthur",
        "broker": "broker.app.wnology.io",
        "port": "1883",
        "clientid": "633c74c7653829a9fe6f2361",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "017c32643b980768",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.app.wnology.io",
        "port": "1883",
        "clientid": "633c7564c06f697cdfb3fa79",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "d478cbf88d114ed4",
        "type": "mqtt-broker",
        "name": "isma2",
        "broker": "broker.app.wnology.io",
        "port": "1883",
        "clientid": "633c74dac06f697cdfb3fa63",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "bd486401469f6271",
        "type": "sqlitedb",
        "db": "cpu_monitor.db3",
        "mode": "RWC"
    },
    {
        "id": "26c067f07a038204",
        "type": "ui_group",
        "name": "Gráficos",
        "tab": "02838aa4425d83f2",
        "order": 2,
        "disp": true,
        "width": "16",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a32ce224eb7b8f39",
        "type": "ui_spacer",
        "z": "d1963266c9e8072a",
        "name": "spacer",
        "group": "26c067f07a038204",
        "order": 3,
        "width": "16",
        "height": "1"
    },
    {
        "id": "84f3a67fd6c4cb45",
        "type": "ui_group",
        "name": "ESP32",
        "tab": "afd12baeeaa73817",
        "order": 2,
        "disp": true,
        "width": "16",
        "collapse": false,
        "className": ""
    },
    {
        "id": "afd12baeeaa73817",
        "type": "ui_tab",
        "name": "ESP32",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "668dcd8dba48a23f",
        "type": "ui_tab",
        "name": "ESP8266",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "634c5c050c3e4458",
        "type": "ui_group",
        "name": "Gráficos",
        "tab": "668dcd8dba48a23f",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "94d1edb5daa8b9e9",
        "type": "inject",
        "z": "d1963266c9e8072a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 260,
        "wires": [
            [
                "d27b7dd61af763d0"
            ]
        ]
    },
    {
        "id": "d27b7dd61af763d0",
        "type": "exec",
        "z": "d1963266c9e8072a",
        "command": "sensors -j",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 300,
        "y": 260,
        "wires": [
            [
                "751c75f6fdf844ad"
            ],
            [],
            []
        ]
    },
    {
        "id": "751c75f6fdf844ad",
        "type": "json",
        "z": "d1963266c9e8072a",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 450,
        "y": 240,
        "wires": [
            [
                "1bfad8ea9b240631",
                "073efdba59c4a17e",
                "93919f28694e04fe",
                "3942bf02912bd829",
                "c991ee0473c416cd",
                "ee31e36423597563",
                "45a2a0ad64da3144"
            ]
        ]
    },
    {
        "id": "1bfad8ea9b240631",
        "type": "function",
        "z": "d1963266c9e8072a",
        "name": "function 1",
        "func": "let chaves = [];\n\nfor (var i in msg.payload){\n    chaves.push(i);\n}\nmsg.topic = chaves;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 240,
        "wires": [
            [
                "59345eb6671d4329",
                "fc2e3e73ec906126",
                "059b0e542c03d1bd",
                "c28033829ebcf408",
                "acddd132870255df",
                "7db51353f6d12a6c"
            ]
        ]
    },
    {
        "id": "59345eb6671d4329",
        "type": "ui_gauge",
        "z": "d1963266c9e8072a",
        "name": "CPU",
        "group": "26c067f07a038204",
        "order": 5,
        "width": 4,
        "height": "3",
        "gtype": "gage",
        "title": "CPU",
        "label": "ºC",
        "format": "{{msg.payload[\"nct6779-isa-0290\"].CPUTIN.temp2_input}} ",
        "min": 0,
        "max": "120",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "50",
        "seg2": "60",
        "diff": false,
        "className": "",
        "x": 790,
        "y": 220,
        "wires": []
    },
    {
        "id": "7db51353f6d12a6c",
        "type": "debug",
        "z": "d1963266c9e8072a",
        "name": "topic",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 380,
        "wires": []
    },
    {
        "id": "fc2e3e73ec906126",
        "type": "debug",
        "z": "d1963266c9e8072a",
        "name": "payload",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 420,
        "wires": []
    },
    {
        "id": "059b0e542c03d1bd",
        "type": "ui_gauge",
        "z": "d1963266c9e8072a",
        "name": "GPU",
        "group": "26c067f07a038204",
        "order": 7,
        "width": 4,
        "height": "3",
        "gtype": "gage",
        "title": "GPU",
        "label": "ºC",
        "format": "{{msg.payload[\"radeon-pci-0100\"].temp1.temp1_input}} ",
        "min": 0,
        "max": "120",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 790,
        "y": 300,
        "wires": []
    },
    {
        "id": "c28033829ebcf408",
        "type": "ui_gauge",
        "z": "d1963266c9e8072a",
        "name": "SSD NVME",
        "group": "26c067f07a038204",
        "order": 8,
        "width": 4,
        "height": "3",
        "gtype": "gage",
        "title": "SSD_NVME",
        "label": "ºC",
        "format": "{{msg.payload[\"nvme-pci-0300\"].Composite.temp1_input}}",
        "min": 0,
        "max": "120",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 810,
        "y": 340,
        "wires": []
    },
    {
        "id": "acddd132870255df",
        "type": "ui_gauge",
        "z": "d1963266c9e8072a",
        "name": "RPM",
        "group": "26c067f07a038204",
        "order": 6,
        "width": 4,
        "height": "3",
        "gtype": "gage",
        "title": "Rotação",
        "label": "RPM",
        "format": "{{msg.payload[\"nct6779-isa-0290\"].fan2.fan2_input}} ",
        "min": "500",
        "max": "3000",
        "colors": [
            "#d4b411",
            "#00b500",
            "#ca3838"
        ],
        "seg1": "1000",
        "seg2": "1600",
        "diff": false,
        "className": "",
        "x": 790,
        "y": 260,
        "wires": []
    },
    {
        "id": "8ba85d1d2191badc",
        "type": "ui_chart",
        "z": "d1963266c9e8072a",
        "name": "",
        "group": "26c067f07a038204",
        "order": 1,
        "width": 8,
        "height": 4,
        "label": "",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "step",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "10000",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 790,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "073efdba59c4a17e",
        "type": "function",
        "z": "d1963266c9e8072a",
        "name": "function 2",
        "func": "msg.topic = \"CPU\";\n// payload[\"nct6779-isa-0290\"].CPUTIN.temp2_input\nmsg.payload = msg.payload[\"nct6779-isa-0290\"].CPUTIN.temp2_input;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 460,
        "wires": [
            [
                "8ba85d1d2191badc"
            ]
        ]
    },
    {
        "id": "93919f28694e04fe",
        "type": "function",
        "z": "d1963266c9e8072a",
        "name": "function 3",
        "func": "msg.topic = \"GPU\";\n// payload[\"nct6779-isa-0290\"].CPUTIN.temp2_input\nmsg.payload = msg.payload[\"radeon-pci-0100\"].temp1.temp1_input;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 500,
        "wires": [
            [
                "8ba85d1d2191badc"
            ]
        ]
    },
    {
        "id": "3942bf02912bd829",
        "type": "function",
        "z": "d1963266c9e8072a",
        "name": "function 4",
        "func": "msg.topic = \"RPM COOLER\";\n// payload[\"nct6779-isa-0290\"].CPUTIN.temp2_input\nmsg.payload = msg.payload[\"nct6779-isa-0290\"].fan2.fan2_input;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 540,
        "wires": [
            [
                "277c14e75d523224",
                "e24cdb170dc0d805"
            ]
        ]
    },
    {
        "id": "c991ee0473c416cd",
        "type": "function",
        "z": "d1963266c9e8072a",
        "name": "function 5",
        "func": "msg.topic = \"NVME\";\n// payload[\"nct6779-isa-0290\"].CPUTIN.temp2_input\nmsg.payload = msg.payload[\"nvme-pci-0300\"].Composite.temp1_input;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 420,
        "wires": [
            [
                "8ba85d1d2191badc"
            ]
        ]
    },
    {
        "id": "cd6e933226865c58",
        "type": "debug",
        "z": "d1963266c9e8072a",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 100,
        "wires": []
    },
    {
        "id": "ee31e36423597563",
        "type": "function",
        "z": "d1963266c9e8072a",
        "name": "MQTT to Wnology",
        "func": "var data = {\n    \"data\": { \"coretemp\": String(msg.payload) }\n}\n\nmsg.payload = data\n//msg.payload.data = data\nreturn msg\n\n/* \nMQTT Integration on WEGNology\nWhen choosing an MQTT integration, the trigger will fire for messages received on any topic configured through the integration.\n\nThe initial payload takes the following shape:\n\n{\n    \"time\": <time of the message>,\n    \"data\": {\n    \"message\": <the MQTT message payload as a string>,\n    \"topic\": <the topic the message was published on>\n            },\n    \"applicationId\": <ID of the current application>,\n    \"applicationName\": <name of the current application>,\n    triggerId\": <ID of the MQTT integration>,\n    \"triggerType\": \"integration\",\n    \"flowId\": <ID of the current workflow>,\n    \"flowName\": <name of the current workflow>,\n    \"globals\": <object of workflow globals>\n}\n*/",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 140,
        "wires": [
            [
                "cd6e933226865c58",
                "f3ee9ef0fc6c87c5"
            ]
        ]
    },
    {
        "id": "f3ee9ef0fc6c87c5",
        "type": "mqtt out",
        "z": "d1963266c9e8072a",
        "name": "",
        "topic": "wnology/63e920ad51b8b5868e488bc5/state",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0555a77d9476f586",
        "x": 950,
        "y": 140,
        "wires": []
    },
    {
        "id": "277c14e75d523224",
        "type": "ui_chart",
        "z": "d1963266c9e8072a",
        "name": "",
        "group": "26c067f07a038204",
        "order": 2,
        "width": 8,
        "height": 4,
        "label": "",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "monotone",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "10000",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 790,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "e24cdb170dc0d805",
        "type": "ui_chart",
        "z": "d1963266c9e8072a",
        "d": true,
        "name": "",
        "group": "26c067f07a038204",
        "order": 4,
        "width": "16",
        "height": "4",
        "label": "",
        "chartType": "bar",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "monotone",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "1000",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 790,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "45a2a0ad64da3144",
        "type": "debug",
        "z": "d1963266c9e8072a",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 60,
        "wires": []
    },
    {
        "id": "75d00afd9eb63719",
        "type": "http request",
        "z": "af7784bb8c92d5f7",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.0.103/temperature",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 370,
        "y": 340,
        "wires": [
            [
                "970b5c5744f389f9",
                "10479dccaf0bb390"
            ]
        ]
    },
    {
        "id": "970b5c5744f389f9",
        "type": "ui_text",
        "z": "af7784bb8c92d5f7",
        "group": "84f3a67fd6c4cb45",
        "order": 2,
        "width": "8",
        "height": "1",
        "name": "",
        "label": "Temperatura ambiente",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 740,
        "y": 340,
        "wires": []
    },
    {
        "id": "f83cf2e2adb90f2d",
        "type": "http request",
        "z": "af7784bb8c92d5f7",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.0.103/humidity",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 370,
        "y": 380,
        "wires": [
            [
                "3104767bc7979b2f",
                "34b46a1890a5954a"
            ]
        ]
    },
    {
        "id": "3104767bc7979b2f",
        "type": "ui_text",
        "z": "af7784bb8c92d5f7",
        "group": "84f3a67fd6c4cb45",
        "order": 1,
        "width": "8",
        "height": "1",
        "name": "",
        "label": "Umidade ambiente",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 730,
        "y": 380,
        "wires": []
    },
    {
        "id": "10479dccaf0bb390",
        "type": "split",
        "z": "af7784bb8c92d5f7",
        "name": "",
        "splt": "°",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 550,
        "y": 300,
        "wires": [
            [
                "33636bb3042c2114"
            ]
        ]
    },
    {
        "id": "33636bb3042c2114",
        "type": "function",
        "z": "af7784bb8c92d5f7",
        "name": "Separa o número",
        "func": "if (parseFloat(msg.payload)) {\n    msg.payload = parseFloat(msg.payload);\n    msg.topic = \"Temperatura\";\n} else {\n    msg.payload=\"ERRO\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 300,
        "wires": [
            [
                "71d6c8ee349cec6f"
            ]
        ]
    },
    {
        "id": "34b46a1890a5954a",
        "type": "split",
        "z": "af7784bb8c92d5f7",
        "name": "",
        "splt": " ",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 550,
        "y": 420,
        "wires": [
            [
                "367de50c3b259994"
            ]
        ]
    },
    {
        "id": "367de50c3b259994",
        "type": "function",
        "z": "af7784bb8c92d5f7",
        "name": "Separa o número",
        "func": "if (parseFloat(msg.payload)) {\n    msg.payload = parseFloat(msg.payload);\n    msg.topic = \"Umidade\";\n} else {\n    msg.payload=\"ERRO\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 420,
        "wires": [
            [
                "22cdb55d9063f254"
            ]
        ]
    },
    {
        "id": "22cdb55d9063f254",
        "type": "ui_chart",
        "z": "af7784bb8c92d5f7",
        "name": "",
        "group": "84f3a67fd6c4cb45",
        "order": 3,
        "width": "8",
        "height": "8",
        "label": "",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "monotone",
        "nodata": "",
        "dot": false,
        "ymin": "55",
        "ymax": "75",
        "removeOlder": 1,
        "removeOlderPoints": "10000",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 950,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "71d6c8ee349cec6f",
        "type": "ui_chart",
        "z": "af7784bb8c92d5f7",
        "name": "",
        "group": "84f3a67fd6c4cb45",
        "order": 4,
        "width": "8",
        "height": "8",
        "label": "",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "monotone",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "10000",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 950,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "adc625cd119bf413",
        "type": "inject",
        "z": "af7784bb8c92d5f7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 360,
        "wires": [
            [
                "75d00afd9eb63719",
                "f83cf2e2adb90f2d"
            ]
        ]
    },
    {
        "id": "e549c3e529580d9d",
        "type": "inject",
        "z": "81c6b1d44b3edaaa",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 100,
        "wires": [
            [
                "1809a7ae4d35fa7a"
            ]
        ]
    },
    {
        "id": "1809a7ae4d35fa7a",
        "type": "http request",
        "z": "81c6b1d44b3edaaa",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "192.168.0.22/status",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 350,
        "y": 100,
        "wires": [
            [
                "b95ce368e73a9c01",
                "0b3ec84fa02334fe"
            ]
        ]
    },
    {
        "id": "866a0058323155f4",
        "type": "debug",
        "z": "81c6b1d44b3edaaa",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 100,
        "wires": []
    },
    {
        "id": "b95ce368e73a9c01",
        "type": "json",
        "z": "81c6b1d44b3edaaa",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 530,
        "y": 100,
        "wires": [
            [
                "866a0058323155f4",
                "016f4acb168bb06a"
            ]
        ]
    },
    {
        "id": "0b3ec84fa02334fe",
        "type": "debug",
        "z": "81c6b1d44b3edaaa",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 220,
        "wires": []
    },
    {
        "id": "a0ae3752ea36f58c",
        "type": "ui_chart",
        "z": "81c6b1d44b3edaaa",
        "name": "",
        "group": "634c5c050c3e4458",
        "order": 8,
        "width": 0,
        "height": 0,
        "label": "Temperatura",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 830,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "016f4acb168bb06a",
        "type": "function",
        "z": "81c6b1d44b3edaaa",
        "name": "function 6",
        "func": "msg.payload = msg.payload.temperatura;\nmsg.topic = \"Temperatura\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 140,
        "wires": [
            [
                "a0ae3752ea36f58c"
            ]
        ]
    }
]